<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="HQEntities" connectionString="metadata=res://*/Model.HQ.csdl|res://*/Model.HQ.ssdl|res://*/Model.HQ.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HQ;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>